<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="intermo_payment_gateway_menu"
        name="Intermo Payment Gateway"
        sequence="10"/>

    <!-- Submenu item under the top-level menu pointing to the action -->
    <menuitem
        id="configuration_of_intermo_menu"
        name="Manage Intermo Configuration"
        parent="intermo_payment_gateway_menu"
        action="action_intermo_config"
        sequence="10"/>

            <!-- Menu Item for Intermo -->
    <!-- <menuitem id="menu_intermo_root" name="INTERMO" sequence="10"/>
    <menuitem id="menu_intermo_config" name="Manage Keys" parent="menu_intermo_root" action="action_intermo_config" sequence="10"/> -->

</odoo>
